* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: lighter;
    background-color: #929292;
}

#maincontainer {
    width:100%;
    height: 100%;
    margin: 50px;
}

#topbar {
    width: 100%;
    height: 100px;
    background-color: darkgrey;
}

#div1 {
    color: pink;
    width: 200px;
    display: inline-block;
}

#div2 {
    color: yellow;
    display: inline-block;
    width: 200px;
}

#div3 {
    display: inline-block;
    width: 200px;
}

#div4 {
    display: inline-block;
    width: 200px;
}

#sidebar {
    color: grey;
    display: inline-block;
    width: 220px;
    height: 100%;
    vertical-align: top;


}

#rest {
    color: lightgrey;
    display: inline-block;
    width: 600px;
    height: 100%;

    margin-left: 15px;
}

#photo {
    padding-left: 48px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 172px;


}

.firstorder {
    list-style: none;
}

li {
    padding-left: 10px;
    margin-left: 30px;
}

.button {
    background-color: #929292;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    font-weight: lighter;
    font-family: "Verdana";
}
