* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: lighter;
    background-color: #F5f5f5;
}
#maincontainer {
    width:100%;
    height: 100%;
    margin: 50px;
}

#sidebar {
    color: purple;
    display: inline-block;
    width: 220px;
    height: 100%;
    vertical-align: top;


}

#rest {
    color: purple;
    display: inline-block;
    width: 600px;
    height: 100%;

    margin-left: 15px;
}

#photo {
    padding-left: 48px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 172px;


}

.firstorder {
    list-style: none;
}

li {
    padding-left: 10px;
    margin-left: 30px;
}

button {
    background-color: purple;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: "Arial";
}
