* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #929292;
    font-family: "Verdana";
    font-weight: lighter;
}

#maincontainer {
    width:100%;
    height: 100%;
    margin: 50px;
}
#name {
    font-size: 2vw;
    width: 100%;
    height: 65px;
    text-align: center;
    text-decoration: none;
    font-size: 28pt;
    letter-spacing: 2px;
    color: #202020;
    padding-top: 35px;

}

#social {
    margin: auto;
    width: 50%;
    text-align: center;
}

.social-icon {
    margin: 15px;
    display: inline-block;
}

#topbar {
    width: 100%;
    height: 100px;
    background-color: darkgrey;
}

.menu_top {
    background-color: pink;
    width: 19%;
    display: inline-block;
    padding: 0px;
    margin: 0px;
}



#sidebar {
    color: lightgrey;
    display: inline-block;
    width: 250px;
    height: 100%;
    vertical-align: top;
    padding-left: 50px;
    margin-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#resume_text {
    padding-top: 15px;
    color: lightgrey;
    display: inline-block;
    width: 625px;
    height: 100%;
    margin-left: 100px;
}

.img-circle {
    border-radius: 50%;
    max-width:60%;
    max-height:60%;
    margin-left: 50px;
    border-style: dotted;
    padding: 10px;
}


.firstorder {
    list-style: none;
}

li {
    padding-left: 10px;
    margin-left: 30px;
}

.button {
    background-color: #929292;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    margin-left: 30px;
    cursor: pointer;
    border-radius: 25px;

}
.companyDescription{
    font-size: 10pt;
}

.section {
    padding-top: 25px;
    padding-bottom: 25px;
}
